<?xml version="1.0" ?>
<!--
/**
* Copyright © 2013-2017 Magento, Inc. All rights reserved.
* See COPYING.txt for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Framework\View\Page\Config\Renderer">
		<plugin name="Nadeem_MetaContent_Plugin_Frontend_Magento_Framework_View_Page_Config_Renderer" type="Nadeem\MetaContent\Plugin\Frontend\Magento\Framework\View\Page\Config\Renderer" sortOrder="10" disabled="false"/>
	</type>
</config>
